<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        function subUpdate() {
            $.post("/user/user/updateUserById",{
                id : $("#id").val(),
                username : $("#username").val(),
                password : $("#password").val()
            },function (result) {
                alert(result.msg);
                if(result.code == 200){
                    window.location.href = "/user/user/showList";
                }
            })
        }
    </script>
</head>
<body>
     <input id="id" name="id" type="hidden" th:value="${user.id}">
    username : <input id="username" name="username" th:value="${user.username}">
    password : <input id="password" name="password" th:value="${user.password}">
    <button type="button" onclick="subUpdate()">提交修改</button>
</body>
</html>